body{
  margin:0;
}
.flex-container{
  display: flex;
}
.half-width{
  max-width:50%;
   
}
.first-header{
  font-family: 'Karla', sans-serif;
  font-size: 80px;
  border-left: 5px solid salmon;
  border-radius:4px;
  padding-left: 10px;
}
.yellow-color{
  color:rgb(241, 159, 36);
}
.first-image{
  
  margin-left: 200px;
  padding-top: 50px;

}
.first-paragraph{
  margin-right: 80px;
  padding-right: 180px;
}

.text{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color:rgb(68, 67, 67);
  word-spacing: 3px;
  line-height: 1.2;
}
.button{
  background-color: salmon;
  border-radius:5px;
  color:white;
  margin-right: 740px;
  padding:10px 15px;
  
}
.left-spacing{
  margin-left: 100px;
  

}
.right-spacing{
  margin-right:100px;
}
.header{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 70px;

  word-spacing: 3px;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}

.image{
  width: 600px;
  height: 600px;
  margin-top: 100px;
}

.h-m{
  margin-left:100px ;
  margin-top: 200px;
}
.t-m{
  margin-left: 100px;
  padding-right: 300px;
}

.button-m{
  margin-left:100px;
  width: 195px;
}
.button-m-2{
  width: 195px;
}
.deep-blue{
  color: rgb(0, 0, 48);
}
.illustration{
  max-width:30%;
}
.box-pad h2{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
}
.box-pad{
  border-radius: 30px;
  padding: 20px 30px 10px;

}
.b-bg{
  background-color: rgba(0, 255, 255, 0.171);
}
.r-bg{
  background-color: rgba(255, 105, 180, 0.171);
}
.y-bg{
  background-color: rgba(240, 230, 140, 0.315);
}
.b-m{
  margin-left:30px;
}
.h-m-2{
  margin-top: 200px;
}
.image-align{
  margin-left: 100px;
}
footer{
  background-color: rgb(0, 0, 17);
  padding-bottom:50px;
}
.footer-txt{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  font-size: 25px;
  word-spacing: 2px;
}
.footer-header{
  
  font-family: 'Karla', sans-serif;
  color: white;
  font-size: 50px;
  padding-top: 50px;
}
